body{
    background-color: #FFFFFF !important;
}
.adminprotable::-webkit-scrollbar{
    width: 0 !important;
    height: 0 !important;
}
.modal-dialog{
    transition: all 1s ease-in-out !important;
}